{% extends "layout.html" %}

{%block title%}
  Guide
{%endblock%}

{% block main %}
 <h1 style="text-align:center">Reduce stress, Regain focus, Better day</h1>

 <table class="table">
    <thead>
        <tr>
            <th>Exercise</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td><a href="#plank">Plank</a></td>
            </tr>
            <tr>
                <td><a href="#downdog">Downdog</a></td>
            </tr>
            <tr>
                <td><a href="#warrior2">Warrior2</a></td>
            </tr>
            <tr>
                <td><a href="#tree">Tree</a></td>
            </tr>
            <tr>
                <td><a href="#goddess">Goddess</a></td>
            </tr>
    </tbody>
</table>

 <iframe id="plank" width="560" height="315" src="https://www.youtube.com/embed/C6XoYAVLKkM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br>
 <br>
 <br>
 <iframe id="downdog" width="560" height="315" src="https://www.youtube.com/embed/JmW6Ofblhtk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br>
 <br>
 <br>
 <iframe id="warrior2" width="560" height="315" src="https://www.youtube.com/embed/IiHkMae4yNU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br>
 <br>
 <br>
 <iframe id="tree" width="560" height="315" src="https://www.youtube.com/embed/WSgL6hbBYKc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br>
 <br>
 <br>
 <iframe id="goddess" width="560" height="315" src="https://www.youtube.com/embed/TwmHvDwSofI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
{% endblock %}
