{% extends "layout.html" %}

{%block title%}
  Guided Meditations
{%endblock%}

{% block main %}
 <h1 style="text-align:center">Body & Soul: A balanced role</h1>

 <table class="table">
    <thead>
        <tr>
            <th>Meditations</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td><a href="#5m">5 minutes guided meditation</a></td>
            </tr>
            <tr>
                <td><a href="#10m">10 minutes guided meditation</a></td>
            </tr>
            <tr>
                <td><a href="#ravi">Guided Meditation with Shri Shri Ravi Shankar</a></td>
            </tr>
            <tr>
                <td><a href="#isha">Isha Kriya Meditations</a></td>
            </tr>
    </tbody>
</table>

 <iframe id="5m" width="560" height="315" src="https://www.youtube.com/embed/inpok4MKVLM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br>
 <br>
 <br>
 <iframe id="10m" width="560" height="315" src="https://www.youtube.com/embed/Evgx9yX2Vw8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br>
 <br>
 <br>
 <iframe id="ravi" width="560" height="315" src="https://www.youtube.com/embed/TWbiDzi-rQc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <br>
 <br>
 <br>
 <iframe id="isha" width="560" height="315" src="https://www.youtube.com/embed/EwQkfoKxRvo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
 
{% endblock %}
